* {
    outline: 1px solid red;
    font-family: Arial;
}

.header, .firstrow, .footer {
    background-color: #1F2937;
    color: white;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 196px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.header ul {
    list-style: none;
    display: flex;
    gap: 48px;
    margin: 0;
    padding: 0;
}

.header ul li a {
    color: white;
    text-decoration: none;
    font-family: Arial;
}

body {
    margin: 0px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.firstrow {
    display: flex;
    justify-content: space-between;
    padding: 100px 196px 50px;
}

.firstrow .left {
    display: flex;
    flex-direction: column;
    max-width: 400px;
}

.bigtext {
    font-size: 48px;
    font-weight: bold;
    color: #F9F8FA;
}

.smalltext {
    font-size: 18px;
    color: #E5E7EB;
    padding: 8px 0;
}

.signup {
  align-self: flex-start;
  margin-top: 10px;
  border-radius: 12px;
  background-color: #3882f6;
  color: white;
  font-size: 20px;
  padding: 4px 16px;
}
.photo1 {
    max-width: 400px;
    max-height: 300px;
}

.secondrow{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0 50px 0;
    margin: 0;
}

.secondheader{
    margin-bottom: 30px;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.imageset {
    display: flex;
    gap: 20px;
}

.imageset>div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.image {
    max-width: 200px;
    max-height: 150px;
    border-radius: 12px;
}

.thirdrow {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 50px 200px;
    justify-content: center;
}

.quote {
    font-size: 30px;
    font-style: italic;
    color: #1F2937;
    margin: 0;
}

.quoter {
    align-self: flex-end;
    margin: 0;
    font-size: 30px;
}

.fourthrow {
    display: flex;
    align-items: center;
    padding: 50px 196px;
    justify-content: center;
}

.cta {
    display: flex;
    background-color: #3882f6;
    border-radius: 8px;
    align-items: center;
    flex: 1;
    justify-content: space-around;
    padding: 25px 50px;
    color: white;
}

.left4 {
    display: flex;
    flex-direction: column;
}

.cta .big {
    font-size: 30px;
}

.signup2 {
    font-size: 24px;
    border: 2px solid white;
    border-radius: 8px;
    background-color: #3882f6;
    color: white;
    padding: 4px 16px;
}
